.main{
    clear: both;
    margin: 0;
    padding: 0;
}
.main_inner{
    /* max-width: 1200px; */
    width: 50%;
    box-sizing: border-box;
    text-align: center;
    margin: 0 50px 0 50px;
}