.campus {
    margin: 80px auto;
    width: 90%;

}

.gallery {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.gallery img {
    width: 23%;

}

.btns{
    /* background: #fff; */
    /* color: #212121; */
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btns img {
    width: 20px;
    margin-left: 10px;
}

.btns.dark-btns {
    background: #212EA0;
    color: #fff;
}